body {
    min-width: 1200px;
    min-height: 480px;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    color: rgb(245, 245, 245);
}

.container-fluid>main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.container-fluid>header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

#logo {
    width: 20%;
    
    &:hover {
        cursor: pointer;
    }
}

table {
    border-collapse: separate;
    border-spacing: 12px;
    table-layout: fixed;
    width: 80%;
}

td {
    vertical-align: top;
    padding: 12px;
    width: 15%;
    border-radius: 15px;
    background-color: rgb(50, 50, 50);

    &:hover{
        cursor: pointer;
    }
}

article {
    height: fit-content;

    img {
        width: 100%;
        aspect-ratio: 1/1.38;
        object-fit: cover;
        border-radius: 9px;
        margin-bottom: 6px;
    }

    &>main {
        display: flex;
        flex-direction: column;
    }
}


a {
    z-index: 10;
}

hr {
    width: 78%;
    border: 0.5px solid rgb(245, 245, 245);
}